.card-content{
    color: #3b3b3b;
    width: 900px;
}
.subheader{
    font-weight: bold;
    color: #50A9FB;
    font-size: 1.3rem;
}
.desc-body{
    margin-top: 10px;
    font-size: 15px;
}

@media screen and (max-width: 768px){
    .card-content{
        display: block;
        width: fit-content;
    }
}