.navbar {
    width: 100%;
    color: #3b3b3b;
    transition: .1s ease;
    position: sticky;
    top: 0; /* Stick the navbar to the top of the viewport */
    z-index: 1000; /* Ensure the navbar is above other content */
    background-color: white; /* Optional: Add background color to navbar */
}


.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-grp{
    display: flex;
    align-items: center;
    margin-left: 1.5vw;
}
.profile-logo{
    width: 80px;
    height: auto;
}
.title {
    font-size: 2rem;
    margin-left: 15px;
    font-weight: bold;
}

.links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 2vw;
}

.links ul li {
    margin-left: 1rem;
    font-size: 1.3rem;
}

.links ul li a {
    text-decoration: none;
    color: #3b3b3b;
}

.links ul li a.active {
    border-bottom: 2px solid #387adf;
  }

@media screen and (max-width: 768px) {
    .title {
        margin-left: 0;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }
    
    .links ul li{
        font-size: 1rem;
    }
}
